<section class = "toolbar-content" data-ng-controller="ToolbarController">
	<div layout="column" layout-align="center center">
       
        <div layout="column" layout-align="center center" class = "navigation">
            <i class="fa fa-leaf fa-2x"></i>
            <md-tooltip md-delay = "0" md-direction = "right">
                Home
             </md-tooltip>
        </div>
        <!--
        <div ng-click="toggleLeft()" layout="column" layout-align="center center" class = "navigation">
            <i class="fa fa-search fa-2x"></i>
            <div>Search</div>
        </div>
        -->
         <div ui-sref="createRoom" layout="column" layout-align="center center" class = "navigation">
            <i class="fa fa-keyboard-o fa-2x"></i>
            <md-tooltip  md-delay = "0" md-direction = "right">
                Create
             </md-tooltip>
        </div>
        
         <div  ui-sref="explore" layout="column" layout-align="center center" class = "navigation">
            <i class="fa fa-rocket fa-2x"></i>
            <md-tooltip  md-delay = "0" md-direction = "right">
                Explore
             </md-tooltip>
        </div>
       <!--
         <div layout="column" layout-align="center center" class = "navigation">
            <i class="fa fa-book fa-2x"></i>
             <md-tooltip md-direction = "right">
                My Stories
             </md-tooltip>
        
        </div>
         -->
         <div ui-sref="profile"  layout="column" layout-align="center center" class = "navigation">
            <i class="fa fa-user fa-2x"></i>
            <md-tooltip  md-delay = "0" md-direction = "right">
                My Profile
             </md-tooltip>
        </div>
        
    </div>
</section>
