body{
    background-color:#EDEFF0
}

.content {
	height:100vh;
	
}


#main-container{
    height:100%;
    width: calc(100vw - 70px);
    margin-left:70px;
}

.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

/* Toolbar CSS */

#toolbar{
    width:70px;
    height:100%;
    position:fixed;
    background-color:#86AEB7;
    z-index:61;
}




#toolbar .brand{
    height:51px;
}

#toolbar .navigation{
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    
    height:63px;
    color:#88898C
}

#toolbar .navigation:nth-child(1){
   top:10px;
    
}

#toolbar .navigation:nth-child(1):hover{
    /*background-color:#86AFC1;*/
   background-color:#F08E5B;
    
}

#toolbar .navigation:nth-child(2){
   top:73px;
    
}

#toolbar .navigation:nth-child(2):hover{
   /*background-color:#F9CA67;*/
   background-color:#F08E5B;
    
}

#toolbar .navigation:nth-child(3){
   top:136px;
    
}

#toolbar .navigation:nth-child(3):hover{
   /*background-color:#E27C75;*/
   background-color:#F08E5B;
    
}

#toolbar .navigation:last-child{
   
  
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    bottom:20px;
}

#toolbar .navigation:last-child:hover{
   /*background-color:#A3CAB3;*/
   background-color:#F08E5B;
}




#toolbar .navigation:hover{
    color:#EDEFF0;
    cursor:pointer;
}

#toolbar .navigation.current{
    border-left: 3px solid white;
}

/* Search Panel*/
#search-panel{
    margin-left:90px;
    background-color:#222326;
}

#search-panel .header{
    background-color:#3E3E40;
}

#search-panel .body{
    background-color:#222326;
    color:#88898C;
}

md-grid-list md-grid-tile {
    background-color:bisque;
}

/* Writing - block*/

.writing-block:hover{
    color:red;
}

md-tooltip  {
  background-color:#F08E5B;
  margin-left:-8px;
  color:green;
  
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

md-tooltip .md-content {
  background-color:#F08E5B;
  opacity:.5;
}