<section class = "container" data-ng-controller="ActiveRoomController" data-ng-init="init()">
  
    <md-card ng-show="roomState === roomStates.ACTIVE">
      <md-card-content >
       
        <h2 class="md-title">{{prompt}}</h2> 
        <span class = "writing-block" data-ng-repeat="block in writingBlocks | orderBy:'created'">
    	    {{block.text}} 
    	      
    	</span>
    	<span>{{text}}</span>
    		<md-progress-linear md-mode="determinate" value="{{percentLeft}}"></md-progress-linear>
      
        <textarea ng-hide = "!queue.currentParticipant" ng-change="inputChanged()" ng-disabled="!queue.currentParticipant" ng-model="text" class="form-control" rows="3"></textarea>
    
    	<!--    <md-input-container>
                <textarea ng-change="inputChanged()" ng-disabled="!queue.currentParticipant" ng-model="text"></textarea>
            </md-input-container>
            -->
      </md-card-content>
     
    </md-card>
    
    <md-card ng-show="roomState === roomStates.WAITING">
      <md-card-content >
        <span class="md-title">Just waiting for pen pals ... </span>
       <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    	<md-content></md-content>
      </md-card-content>
     
    </md-card>
    
    <md-card ng-show="roomState === roomStates.READY">
      <md-card-content >
        <h2 class="md-title">Let us know when you are ready</h2>
       
    	<md-button ng-click = "ready()" class = "md-raised md-primary" >Start Writing</md-button>
      </md-card-content>
     
    </md-card>
    
    <md-card ng-show="roomState === roomStates.COMPLETED">
      <md-card-content >
      
        <h2 class="md-title">This room is completed</h2>
      
      <h2 class="md-title">{{prompt}}</h2> 
        <span class = "writing-block" data-ng-repeat="block in writingBlocks | orderBy:'created'">
    	    {{block.text}} 
    	      
    	</span>
    	<span>{{text}}</span>
         
      </md-card-content>
     
    </md-card>
    	
</section>