<section layout = "row" data-ng-controller="RoomsController">

    
 <md-card flex = "50">
     
      <md-card-content>
        <h2 class="md-title">Create new room</h2>
        <p>
          This will be the form to create a new room. Maybe things like: public/private, room duration, and prompt
        </p>
      </md-card-content>
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button>Create</md-button>
    
      </div>
    </md-card>
     <md-card flex = "50">
     
      <md-card-content>
        <h2 class="md-title">Quick join</h2>
        <p>
        Join the next available room. 
        </p>
      </md-card-content>
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button>Join</md-button>
      </div>
    </md-card>
    
</section>