<md-dialog md-padding aria-label="Mango (Fruit)" flex = "50">
<h2 class = "md-title">Join our mailing list</h2>
  <form>
  <md-dialog-content class="sticky-container">
    <div>
    <md-input-container>
      <label>Email</label>
      <input ng-model="user.email" type="email">
    </md-input-container>
    
    <md-input-container flex>
        <label>What intrigues you about this app?</label>
        <textarea ng-model="user.answer" columns="1" ></textarea>
      </md-input-container>
      </div>
      <span flex></span>
      <md-button ng-click = "hide()" class="md-raised md-primary">Close</md-button>
       <md-button ng-click = "hide()" class="md-raised md-primary">Join</md-button>
  </md-dialog-content>

  </form>
</md-dialog>