<section flex layout-padding layout-margin data-ng-controller="ExploreController">
    <h1 class = "md-display-1">Explore</h1>
	<md-tabs md-dynamic-height flex md-selected="data.selectedIndex" >
      <md-tab id="rooms">
        <md-tab-label>Open Rooms</md-tab-label>
        <md-tab-body  >
        <md-content layout = "row">
        <md-card flex = "15">
          <img src = "http://rdio1img-a.akamaihd.net/album/9/7/7/0000000000036779/square-200.jpg" class="md-card-image" alt="Washed Out">
          <md-card-content>
            <h2 class="md-title">This Category</h2>
            <p>
              It had been too long.
            </p>
          </md-card-content>
          <div class="md-actions" layout="row" layout-align="end center">
            <md-button>Action 1</md-button>
            
          </div>
        </md-card>
        
         <md-card flex = "15">
          <img src = "http://rdio1img-a.akamaihd.net/album/9/7/7/0000000000036779/square-200.jpg" class="md-card-image" alt="Washed Out">
          <md-card-content>
            <h2 class="md-title">Hey Another</h2>
            <p>
             It was never supposed to be this way
            </p>
          </md-card-content>
          <div class="md-actions" layout="row" layout-align="end center">
            <md-button>Action 1</md-button>
            
          </div>
        </md-card>
        
         <md-card flex = "15">
          <img src = "http://rdio1img-a.akamaihd.net/album/9/7/7/0000000000036779/square-200.jpg" class="md-card-image" alt="Washed Out">
          <md-card-content>
            <h2 class="md-title">Category</h2>
            <p>
             Overcome
            </p>
          </md-card-content>
          <div class="md-actions" layout="row" layout-align="end center">
            <md-button>Action 1</md-button>
            
          </div>
        </md-card>
        
         <md-card flex = "15">
          <img src = "http://rdio1img-a.akamaihd.net/album/9/7/7/0000000000036779/square-200.jpg" class="md-card-image" alt="Washed Out">
          <md-card-content>
            <h2 class="md-title">Yet Again?</h2>
            <p>
              It has been written
            </p>
          </md-card-content>
          <div class="md-actions" layout="row" layout-align="end center">
            <md-button>Action 1</md-button>
            
          </div>
        </md-card>
        
         <md-card flex = "15">
          <img src = "http://rdio1img-a.akamaihd.net/album/9/7/7/0000000000036779/square-200.jpg" class="md-card-image" alt="Washed Out">
          <md-card-content>
            <h2 class="md-title">Not Possible</h2>
            <p>
              Three wishes
            </p>
          </md-card-content>
          <div class="md-actions" layout="row" layout-align="end center">
            <md-button>Action 1</md-button>
            
          </div>
        </md-card>
        
         <md-card flex = "15">
          <img src = "http://rdio1img-a.akamaihd.net/album/9/7/7/0000000000036779/square-200.jpg" class="md-card-image" alt="Washed Out">
          <md-card-content>
            <h2 class="md-title">Or is it</h2>
            <p>
              Just below the surface
            </p>
          </md-card-content>
          <div class="md-actions" layout="row" layout-align="end center">
            <md-button>Action 1</md-button>
            
          </div>
        </md-card>
        
        </md-content>
          
        </md-tab-body>
      </md-tab>
      <md-tab id="stories">
        <md-tab-label>Public Stories</md-tab-label>
        <md-tab-body>
          <md-content >
              <md-grid-list
        md-cols-sm="2" md-cols-md="6" md-cols-gt-md="6" md-cols-gt-lg="15"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="12px" md-gutter-gt-sm="8px" >
    <md-grid-tile class="gray"
        md-rowspan="4" md-colspan="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#1: (3r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="green">
      <md-grid-tile-footer>
        <h3>#2: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="yellow">
      <md-grid-tile-footer>
        <h3>#3: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="blue"
        md-rowspan="2">
      <md-grid-tile-footer>
        <h3>#4: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="red"
        md-rowspan="2" md-colspan="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#5: (2r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="green"
        md-rowspan="2" >
        This is a test
      <md-grid-tile-footer>
        <h3>Category</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>
          </md-content>
        </md-tab-body>
      </md-tab>
    </md-tabs>
</section>