{% extends 'layout.server.view.html' %}

{% block content %}
	<section layout = "row" class="content">
		<section  id = "toolbar" data-ng-include="'/modules/core/views/toolbar.client.view.html'"></section>
		 <md-sidenav id="search-panel" data-ng-include="'/modules/search/views/search-nav.client.view.html'" class="md-sidenav-left md-whiteframe-z2" md-component-id="search-panel"></md-sidenav>	
	
	<section id = "main-container"  class = "container" data-ui-view></section>
		
	</section>
{% endblock %}
